@tailwind base;
@tailwind components;
@tailwind utilities;


@property --animate-duration {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }
  @property --Color {
    syntax: '<color>';
    initial-value: #4afd71;
  }
   
  @keyframes rotate {
    0% {
      --animate-duration: 0deg;
      --Color: #4afd71;
    }
    100% {
      --animate-duration: 360deg;
      --Color: #4afd71;
    }
  }
   
  .btn:after,
  .btn:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 100%;
    border-radius: calc(100px + 1.5px);
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: conic-gradient(
      from var(--animate-duration) at 50% 50%,
      #ffff 0%,
      #ffff 20%,
      var(--Color) 50%,
      var(--Color) 66%,
      #ffff 100%
    );
    animation: rotate 3s infinite linear;
  }
   
  .btn:before {
    animation: rotate 3s infinite linear;
    filter: blur(20px);
  }